* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}

body { 
    font-family:'Poppins',sans-serif; 
    overflow:hidden; 
    background-size:cover; 
    background-position:center; 
}

.page { 
    width:100vw; 
    height:100vh; 
    position:absolute; 
    top:0; left:0; 
    opacity:0; 
    transition:opacity .8s ease; 
    pointer-events:none; 
}

.active { 
    opacity:1; 
    pointer-events:auto; 
}

.titleBox { 
    position:absolute; 
    top:20%; width:100%; 
    text-align:center; 
    color:white; 
    text-shadow:0 0 10px black; 
    font-size:28px; 
    font-weight:700; 
    padding:0 20px; 
}

.confetti { 
    position:fixed; 
    width:8px; 
    height:12px; 
    top:-20px; 
    border-radius:2px; 
    animation:fall 3s linear infinite; 
    z-index:999; 
}

@keyframes fall { 
    to{ 
        transform:translateY(110vh) rotate(360deg); 
    } 
}

#palayokImg, #palayokCrack1, #palayokCrack2, #palayokCrack3 { 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%,-50%); 
    width:50vw;        /* width relative to viewport width */
    max-width:90%;     /* don’t exceed 90% of the screen width */
    height:auto;       /* maintain aspect ratio */
    transition:opacity .3s; 
}

#palayokCrack1,#palayokCrack2,#palayokCrack3 { 
    display:none; 
}

#colorPopup { 
    display:none; 
    position:absolute; 
    top:50%; 
    left:50%; 
    width:40vw;        /* responsive width */
    max-width:300px;   /* don’t get too big */
    height:auto;       /* maintain aspect ratio */
    transform:translate(-50%,-50%); 
}
#darkenLayer { 
    display:none; 
    position:absolute; 
    width:100%; 
    height:100%; 
    background:rgba(0,0,0,0.65); 
    backdrop-filter:blur(3px); 
}


#ticketBox { 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%,-50%); 
    width:90%; 
    max-width:380px; 
    text-align:center; 
    color:white; 
    padding:20px; 
    text-shadow:0 0 8px black; 
}

#nameInput { 
    width:80%; 
    padding:10px; 
    margin-top:10px; 
    border:none; 
    border-radius:6px; 
    font-size:16px; 
    text-align:center; 
}

#generatedName { 
    font-size:22px; 
    margin:10px 0; 
    font-weight:700; 
}

.confirmPopup { 
    display:none; 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%,-50%); 
    background:white; 
    color:black; 
    padding:20px; 
    border-radius:12px; 
    text-align:center; 
    z-index:1000; 
}

.confirmPopup button { 
    margin:10px 5px; 
    padding:8px 16px; 
    font-size:16px; 
    cursor:pointer; 
    border-radius:6px; 
}

#page3 {
    background-size: cover;    /* ensures background fills screen */
    background-position: center;

#p8 > div {
        align-self: auto; /* prevent flex centering*/

